name: Build Android APK 
on: 
  push: 
  workflow_dispatch: 
 
jobs: 
  build: 
    runs-on: ubuntu-latest 
    steps: 
    - uses: actions/checkout@v3 
    - name: Build APK 
      run: echo "APK Build gestartet" 
